body {
  font-family: sans-serif;
  padding: 40px;
  background: #f9f9f9;
}

#taskInput {
  padding: 7px;
  width: 200px;
}

button {
  padding: 7px 15px;
  margin-left: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 7px 0;
}
body {
  font-family: sans-serif;
  padding: 40px;
  background: #f9f9f9;
}

#taskInput {
  padding: 7px;
  width: 200px;
}

button {
  padding: 7px 15px;
  margin-left: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 7px 0;
}
